.wrapper{
      
    justify-content:center;
   
    margin:1.75rem auto;
    padding:0 1rem;

    display: flex;
    
    align-items: flex-start;
}

@media (max-width:768px){

    html {
        font-size: 87.5%
    }
    .wrapper {
        grid-template-columns: 1fr;
    }
}

