

.task {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--gray-500);
    padding: 16px;
    border: 1px solid #333333;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
  
    margin-bottom: 12px;
}

.task p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;


    color: var(--gray-100)
}

.task input {
    width: 24px;
    height: 24px;


    cursor: pointer;
    border-radius: 100%;
}



input:checked {
    border: none;
    outline: 2px solid var(--purple-dark);
    background: var(--purple-dark);

}

.task button {
    background: transparent;
    border: 0;
    color: var(--gray-400);
    cursor: pointer;

    line-height: 0;
    border-radius: 2px;
}

.task button:hover {
    color: var(--red-500);

}